
*{
    padding: 0;
    margin: 0;  
    
}

/* .bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.1);
} */

/* .corpooo{
    height: 50vh;
} */

.abc{
   
}



.rodape-principal{
    /* padding: 30px; */
    margin-top: 650.1px;
    margin-bottom: -10px;
    padding: 10px;
}

.man{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)) ,url('../../Imagens/background.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


#principal-row{
    display: flex;
    align-items: center;
    height: 100vh;
}


.principal-texto{
    margin-left: -70px;
    padding: 0px 5px 0px 5px;
    /* padding-left: 30px;
    margin-left: -100px;
    margin-right: 600px;
    margin-top: 300px;
    align-items: center;
    flex-basis: 50%; */
}

.principal-titulo{
    color: whitesmoke;
    font-size: 4.7vw;
    text-align: left;
    padding: 15px;
    margin-left: -20px;
    margin-bottom: 10px;
}

.principal-descricao{
    color: whitesmoke;
    font-size: 1rem;
    text-align: left;
}

#quadrado{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
}

.cards-col{
    margin-right: -100px;
}

.cardss{
    /* background-color: aqua; */
    /* background-image:url('../../Imagens/download\ \(2\).jpg'); */
    width: 15vw;
    height: 15vw;
    display: inline-block;
    border-radius: 15px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 12px 20px;
    
    transition: 0.5s;
}

.imagemdoCard{
    background-position: center;
    background-size: cover;
    /* height: 100%; */
    width: 100%;
    height: 30vh;
}

.cardss:hover{
    transform: translateY(-15px);
    
}














/* #home{
    padding: 0;
    margin: 0;
}

#imagem{
    height: 91.5vh;

    
}

.titulo{
    color: white;
}

.sobre{
    color: white;
} */