@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@100;300;400&display=swap');


#menuPalavra {
    font-size: 1.05rem;

}

#logobrand {
    cursor: pointer;
}

.socialIcons {
    display: flex;
    justify-content: center;

}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;

}

.socialIcons a i {
    font-size: 2rem;
    color: white;
    opacity: 0.7;
    transition: 0.5s;
}

/* Hover affect on social media icon */

.socialIcons a i:hover {
    /* background-color: aliceblue;
    color: black; */
    transition: 0.5s;
    opacity: 1;
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 62.5%;
} */

body {
    /* font-size: 1.6rem; */
}

li {
    list-style: none;
    text-decoration: none;
}

.nav__link {
    font-family: 'montserrat';
    text-decoration: none;
    color: rgb(204, 204, 204);
    font-size: 1rem;
    outline: none;
    transition: all 0.5s ease;
}

.nav__link:hover {

    color: #fff;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    /* background: rgb(0, 33, 65); */
}



.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.nav__toggler {
    display: none;
}

.nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in ease-out;
}

@media screen and (max-width: 841px) {

    header{
      
    }
    .nav__toggler {
        display: block;
        cursor: pointer;
    }

    .nav__link {
        font-size: 1.3rem;
    }
    .nav__menu {
        z-index: 99;
        position: fixed;
        top: 0.5vh;
        padding: 10px 5px;
        right: 0;
        height: 93vh;
        width: 45vw;
        background-color: rgba(92, 67, 3, 0.984);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        border:solid 1px ;
        border-radius: 10px;
    }
}

/* Active Class */
.nav__active {
    transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}