@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@100;300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");



* {
    margin: 0;
    padding: 0;
}

/* .cabeca {
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url('../../Imagens/background.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

#teste {}

.div-texto {
    margin-top: 50px;
    padding: 15px;
    line-height: 50px;
}

.div-titulo {
    font-size: 3rem;
    letter-spacing: 3px;
    color: whitesmoke;
    font-family: 'Roboto';
}

.link-home {
    text-decoration: none;
    outline: none;
    color: #0dff0d;
    font-size: 1.3rem;
    font-family: 'Roboto';
    margin-right: 5px;
}

.pagina-atual {
    text-decoration: none;
    outline: none;
    color: whitesmoke;
    font-size: 1.3rem;
    font-family: 'Roboto';
    margin-left: 5px;
}

.introducao {
    margin-top: 100px;
    background-color: rgba(240, 251, 240, 0.521);
}

#container-icons {
    padding: 55px 10px;
    margin-bottom: 250px;
}

#corpo-icons {
    margin-bottom: 150px;
}

#icons {}

.imagem-icons {
    margin-bottom: 30px;
}

.texto-icon-sobre {
    color: rgb(97, 96, 96);
    text-align: left;
    letter-spacing: 2px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.2rem;
}

.icon-descrição {
    color: #434343;
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Montserrat';
    letter-spacing: 5px;
}


.descricao {
    /* margin-top: 50px; */
    /* margin-top: 55.5vh; */
    margin-bottom: 25vh;
    background-color: rgba(240, 251, 240, 0.521);
    padding: 100px;
}

.descrição-imagem {
    padding: 30px 0px 0px 30px;
}

.imagem-minha {
    border-radius: 50%;
    margin-left: -200px;
}

.colTexto {
    padding: 30px;
    line-height: 32px;
    margin-top: 45px;
    margin-right: 15px;
}

.textoLinha {
    text-align: left;
    font-size: 1rem;
    font-family: 'Roboto';
    letter-spacing: 1.4px;
    font-weight: 700;
}

.final {
    margin-top: -100px;
    margin-bottom: -130px;

}

.linha-historia {
    padding: 2em;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}



.linha-titulo {
    text-align: center;
    padding-bottom: 1em;

}

.linha-titulo h1 {
    font-weight: 600;
    font-size: 4.5rem;
    font-family: "Montserrat";
    display: flex;
    text-align: center;
    justify-content: center;
    color: #000000c2;
    letter-spacing: 5px;
}

.linha-titulo p {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.linha-tempo {
    margin: 5em auto;
    max-width: 34.15em;
}

.linha-etapas {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.linha-etapas div {
    border: 2px solid #fff9f9;
    border-radius: 1em;
    padding: 1.5em;
    /* background-color: rgb(225 228 225 / 52%); */
    background-color: #80800085;
    transition: all 0.2s;
}

.linha-etapas div:hover {}

.linha-etapas p {
    font-family: 'Montserrat';
    text-align: left;
    line-height: 27px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(40 40 40);
}

.linha-etapas:nth-child(odd) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17.5em);
}

.linha-etapas:nth-child(even) {
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-16.3em);
}

.linha-etapas:nth-child(odd)::before,
.linha-etapas:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.linha-etapas:nth-child(odd)::before {
    left: 0;
}

.linha-etapas:nth-child(even)::before {
    right: 0;
}

.linha-etapas:nth-child(odd) div::before,
.linha-etapas:nth-child(even) div::before {
    content: '';
    background: red;
    box-shadow: 0 0 0.5em black;
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
}

.linha-etapas:nth-child(odd) div::before {
    left: -0.5em;
}

.linha-etapas:nth-child(even) div::before {
    right: -0.5em;
}

.titulo-linha {
    margin: 0.3em;
    font-size: 3rem;
}


.titulo-etapa {
    margin-bottom: 0.5em;
    color: #000000bd;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Montserrat';
}

.p{
    font-style: italic;
    font-weight: 300;
    
}


@media (min-width: 1201px) {
    .descricao {
        margin-top: 56vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .descricao {
        margin-bottom: 5vh;
        margin-top: 55vh;
    }

    .textoLinha {
        line-height: 4vh;
        font-size: 1rem;
        padding: 8px;
        letter-spacing: 0.4vw;
        line-height: 5vh;
    }

    .colTexto {
        margin-right: 5vh;
        line-height: 2vh;
    }
}

@media screen and (max-width:1150px) {


    .linha-tempo {
        width: 80vw;
    }

    .linha-tempo .linha-etapas {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .linha-tempo .linha-etapas::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }

    .linha-tempo .linha-etapas div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }

    .linha-etapas div:hover {
        transform: none;
    }
}

.ongs-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-titu h2 {
    margin-top: 20px;
    margin-bottom: -10px;
    color: white;
    font-size: 2.0rem;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'montserrat';
}

.ong-wrapper {
    margin-right: -200px;
    margin-top: 30px;
    height: 80vh;
    width: 35em;
    /* rgba(0, 86, 67, 0.818) */
    background-color: #8a8a02;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 30px;
    border: 3px solid white
}

.ong-wrapper .input-box {
    width: 100%;
    height: 80px;
    padding: 10px 5px 10px 5px;
    /* margin: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.under {
    margin-top: -290px;
    padding: 20px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .descricao {
        margin-top: 56vh;
        margin-bottom: 4vh;
    }

    .imagem-minha {
        width: 60vw;
        height: 45vh;
        margin-left: -10vw;
    }

    .textoLinha {
        line-height: 4vh;
        font-size: 1.2rem;
        letter-spacing: 0.4vw;
        line-height: 5vh; 
    }

    #icons{
        padding: 5px;
    }
    .texto-icon-sobre{
        padding:10px 15px
    }
}