@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@100;300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");



* {
    margin: 0;
    padding: 0;
}

.cabeca {
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url('../../Imagens/background.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#teste {}

.div-texto {
    margin-top: 50px;
    padding: 15px;
    line-height: 50px;
}

.div-titulo {
    font-size: 3rem;
    letter-spacing: 3px;
    color: whitesmoke;
    font-family: 'Roboto';
}

.link-home {
    text-decoration: none;
    outline: none;
    color: #0dff0d;
    font-size: 1.3rem;
    font-family: 'Roboto';
    margin-right: 5px;
}

.pagina-atual {
    text-decoration: none;
    outline: none;
    color: whitesmoke;
    font-size: 1.3rem;
    font-family: 'Roboto';
    margin-left: 5px;
}

.introducao {
    margin-top: 100px;
}

#container-icons {
    padding: 55px 10px;
    margin-bottom: 250px;
}

#corpo-icons {
    margin-bottom: 150px;
}

#icons {}

.imagem-icons {
    margin-bottom: 30px;
}

.texto-icon-sobre {
    color: rgb(97, 96, 96);
    text-align: left;
    letter-spacing: 2px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.2rem;
}

.icon-descrição {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 2.2rem;
    color: #808000;
    padding: 25px 0px 10px 0px;
}


.descricao {
    /* margin-top: 50px; */
    margin-top: 400px;
    margin-bottom: 200px;
    background-color: rgba(240, 251, 240, 0.521);
    padding: 120px;
}

.descrição-imagem {
    padding: 30px 0px 0px 30px;
}

.imagem-minha {
    border-radius: 50%;
    margin-left: -200px;
}

.colTexto {
    padding: 30px;
    line-height: 32px;
    margin-top: 45px;
    margin-right: 15px;
}

.textoLinha {
    text-align: left;
    font-size: 1rem;
    font-family: 'Roboto';
    letter-spacing: 1.8px;
}

.final {
    margin-top: 200px;
}




/* //linha do tempo */
