@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@100;300;400&display=swap');


* {
    margin: 0;
    padding: 0;
}

#linha {
    margin-bottom: 20px;
    margin-top: 550px;

}

#coluna {}

.imagem-descricao {
    padding: 30px;
    background-color: none;
}

card.card {
    width: 23vw;
    height: 60vh;
    border: none none black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
    margin: 50px auto;
    background-color: whitesmoke;
    /* background:url('../../Imagens/_A\ smile\ is\ the\ universal\ welcome__.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;

}

card.card-back {
    background: none;
    background-color: whitesmoke;

}

.card>img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    object-fit: fill;


}

.titulo-card {
    font-family: "montserrat";
    font-size: 1.4rem;
    padding: 2px 3px;
    margin-top: 10px;
    letter-spacing: 0.8px;
    color: #808000;
    font-weight: 700;

    
}

.botoes {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 0px;

}

.btnm {
    text-decoration: none;
    font-family: "roboto";
    font-size: 1.2rem;
    padding: 5px 3px 5px 3px;
    width: 14vw;
    height: 5.3vh;
    border: none;
    border-radius: 20px;
    background-color: #393902;
    transition: 0.5s ease-out background right to left;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.7px;
    transition: all 0.5s
}

.linkBotao {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.9px;
    padding: 5px;
    font-size: 1.2rem;
}

.btnm:hover {
    transition: 0.4s ease-in background left to right;
    background-color: #808000;
    color: #fff;
}

.texto-card {
    font-family: 'Roboto';
    padding: 20px;
    text-align: left;
    letter-spacing: 0.6px;
    line-height: 20px;
    font-size: 0.96vw;
    margin: 0;
}

.dvi {
    background-color: purple;
    color: black;
}

.ongs-form {
    background-color: #f0f0f0;
    margin-top: 100px;
    margin-bottom: -400px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    card.card {
        height: 50vh;
        width: 42vw;
        border-radius: 40px;
    }

    .btnm {
        width: 25vw;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    card.card {
        height: 54vh;
        width: 58vw;
        border-radius: 40px;
    }
    .btnm {
        padding-bottom: 8px;
        width: 25vw;
    }
}