@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@100;300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");



* {
    margin: 0;
    padding: 0;

}

.cabeca {
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url('../../assets/R.jpeg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



.div-texto {
    margin-top: 50px;
    padding: 15px;
    line-height: 50px;
}

.div-titulo {
    font-size: 3rem;
    letter-spacing: 3px;
    color: whitesmoke;
    font-family: 'Roboto';
}

.corpo-ong {
    /* height: 100vh; */
    margin-top: 56vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(240, 251, 240, 0.521);

}

.rodape-doando {
    margin-top: 400px;
    padding: 20px;
}

.input-doar {
    font-weight: 500;
    padding: 7px;
    font-size: 20px;
    border-width: 1px;
    border-color: #fff;
    background-color: #4CAF50;
    color: #fff;
    border-style: double;
    border-radius: 7px;
    box-shadow: 2px 3px 10px rgba(66, 66, 66, .69);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
}

.input-doar:focus {
    outline: none;
}

::placeholder {
    font-size: 1.1rem;
    color: rgba(253, 253, 253, 0.515);
    font-weight: 300;
    font-style: italic;
    letter-spacing: 2px;
    text-align: left;
}

.ongs-texto {
    padding: 5px 0px 5px 5px;
    margin-left: -20px;
}

.barra {
    border-top: 4px solid;
    margin-top: 0px;
    width: 73%;
    /* color: #2cfd33; */
}

.ongs-texto-conjunto {
    margin-bottom: 15px;
    padding: 20px 0px 20px 0px;
}

.ongs-texto-titulo {
    font-family: 'montserrat';
    text-align: left;
    font-size: 2rem;
    letter-spacing: 1.2px;
    color: #808000;
    font-weight: 600;
}

.ongs-texto-textos {
    line-height: 33px;
    text-align: left;
    font-family: 'roboto';
    font-size: 1.3rem;
    font-weight: 300;
}





.dados-titulo {}


.ongs-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0px 10px 0px;

}

SlideGallery {}


.form-titu h2 {
    margin-top: 20px;
    margin-bottom: -10px;
    color: white;
    font-size: 2.0rem;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'montserrat';
}

.ong-wrapper {
    margin-right: -200px;
    margin-top: 30px;
    height: 92vh;
    width: 35em;
    /* rgba(0, 86, 67, 0.818) */
    background-color: #8a8a02;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 30px;
    border: 3px solid white
}

.ong-wrapper form {
    padding: 20px;
}

.ong-wrapper .input-box {
    width: 100%;
    height: 80px;
    padding: 10px 5px 10px 5px;
    /* margin: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.input-box input {
    width: 80%;
    height: 80%;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

::placeholder {
    color: rgba(0, 0, 0, 0.541);
    font-family: 'arial';
    font-weight: 300;
    font-size: 0.8rem;
    font-style: italic;
}


form div label {
    display: flex;
    justify-content: center;
    text-align: center;

}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

form input {
    outline: unset;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
}



.label-for {
    letter-spacing: 2px;
    padding: 5px 5px;
    margin-bottom: 5px;
    color: rgba(250, 250, 250, 0.725);
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
    font-family: "Montserrat";
}

.paypal-button-container {
    padding: 10px 45px 10px 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* width: 50%; */

}

.rodape-doando {}

.confirma-compra {
    width: 15vw;
    background-color: #fff;
    /* Cor de fundo branca */
    color: #bba007;
    /* Cor de texto mostarda */
    border: none;
    padding: 10px 30px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    /* Efeito hover suave */
}

.confirma-compra:hover {
    background-color: #bba007;
    /* Cor de fundo mostarda no hover */
    color: #fff;
    /* Cor de texto branca no hover */
}

.cartaoDados{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    color: black;
}

#iconCopy{
    width: 10vw;
    height: 5vh;
}

@media (min-width: 1201px) {
    .corpo-ong {
        margin-top: 56vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .confirma-compra{
        font-size: 1.1rem;
        padding: 6px 20px;
        
    }

    .ong-wrapper {
        margin-right: 0px;
        margin-top: 0px;
        height: 80vh;
        margin-bottom: 3vh;
    }

    .ongs-texto-textos {
        font-size: 1rem;
        line-height: 30px;
    }

    .ongs-texto-titulo {
        font-size: 1.4rem;
        letter-spacing: 0.1px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .confirma-compra{
        font-size: 1.1rem;
        padding: 4px 20px;
        
    }


    .ongs-texto-titulo {
        font-size: 1.2rem;
        padding: 10px 15px;
        letter-spacing: 0.1px;
    }

    .ongs-texto-textos {
        font-size: 1rem;
        line-height: 30px;
        padding: 10px 15px;
    }

    .ong-wrapper {
        margin-right: 0px;
        margin-top: 0px;
        height: 84vh;
        margin-bottom: 2vh;
        width: 25em;
        border-radius: 25px;
    }

    .corpo-ong {
        margin-bottom: -12vh;
        margin-top: 60vh;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .confirma-compra{
        font-size: 1.1rem;
        padding: 4px 20px;
        
    }

    .ongs-texto-titulo {
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        padding: 5px 10px;
    }

    .ongs-texto-textos {
        font-size: 0.9rem;
        padding: 5px 10px;
    }

    .ong-wrapper {
        margin-right: 0px;
        height: 86vh;
        width: 18em;
        margin-bottom: 2vh
    }

    .corpo-ong {
        margin-bottom: -12vh;
    }
}

/* .corpo-ong{
        margin-bottom: 20vh;
    } */